.Calendar {
  flex: 1 1 0%;
  flex-basis: 0%;

  .grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    .cell {
      flex: 0 14.28571%;
      background-color: var(--mui-palette-background-default);
      border-right: 1px solid var(--mui-palette-divider);
      &:nth-child(7n) {
        border-right: 0;
      }
      &:nth-child(7n),
      &:nth-child(7n-1) {
        background-color: var(--mui-palette-background-paper);
      }
      &:nth-child(-n + 7) {
        border-top: 1px solid var(--mui-palette-divider);
      }
    }
  }
}
