.Bands {
  width: 100%;
  height: 100%;
  position: relative;

  > * {
    position: absolute;
    height: 100%;
  }

  .daylight {
    background-color: lightblue;
    width: 100%;
  }

  .night {
    background-color: #01579b;
  }

  .astroNight {
    background-color: grey;
  }

  .moonlessNight {
    background-color: black;
  }
}
