$border: rgba(255, 255, 255, 0.5);

.cell {
  flex: 0 14.28571%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid $border;
  border-bottom: 1px solid $border;
  &:nth-child(7n) {
    border-right: 0;
  }

  &:nth-child(-n + 7) {
    border-top: 1px solid $border;
  }
  > * {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    > * {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
    }
  }
}

.CalendarItem {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  text-align: center;

  &.nextMonth,
  &.prevMonth {
    color: #999;
  }

  &.current {
    background-color: #394b59;
  }

  header {
    padding: 0.5vw;
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;

    .day {
      width: 60%;
      align-self: center;
      text-align: left;
    }

    .moon-container {
      width: 40%;
      display: flex;
      flex-direction: column;
      > * {
        flex: 1 1 0;
      }
    }
  }

  main {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    .band-container {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      height: 100%;
      max-height: 80%;
    }
    /* .moon-container {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
    } */
  }
}
