.CalendarItem {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

  &.nextMonth,
  &.prevMonth {
    color: #999;
  }

  &.current {
    background-color: #6f3434;
  }

  header {
    padding: 0.5vw;
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;

    .day {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: center;
      text-align: center;

      @media screen and (min-width: 1000px) {
        .day-number {
          font-size: 2vw;
        }
      }
      @media screen and (max-width: 1000px) {
        .day-number {
          font-size: 1.5rem;
        }
      }
      @media screen and (min-width: 600px) {
        .day-number {
          font-weight: 200;
        }
      }
      @media screen and (max-width: 600px) {
        .day-number {
          font-size: 1rem;
        }
      }
    }

    .moon-container {
      flex: 1 1 0;
      width: 100%;
      max-width: 80px;
    }
  }

  @media screen and (max-width: 600px) {
    header {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }

  main {
    flex: 0 0 auto;
    min-height: 10%;
    max-height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .band-container {
      flex: 1 0 0;
      display: flex;
      flex-direction: column;
    }
  }
}
