.Calendar {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;

  .Calendar-header {
    flex: 0 0 auto;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
  }

  /* @media screen and (max-width: 650px) {
    .Calendar-header {
      flex-direction: column;
      align-items: flex-end;

      > div:not(:last-child) {
        margin-bottom: .5rem;
      }
    }
  } */

  .date-controls {
    display: flex;
    align-items: center;
    > *:not(:first-child) {
      margin-left: 0.5rem;
    }
  }

  .Calendar-grid {
    flex: 1 1 0;
    display: flex;
    flex-wrap: wrap;
  }
}
