$border: rgba(16, 22, 26, 0.4);

.CalendarItem {
  flex: 0 14.28571%;
  text-align: center;
  border-right: 1px solid $border;
  border-bottom: 1px solid $border;

  display: flex;
  flex-direction: column;

  &.nextMonth,
  &.prevMonth {
    color: #999;
  }

  &:nth-child(7n + 1) {
    border-left: 1px solid $border;
  }

  &:nth-child(-n + 7) {
    border-top: 1px solid $border;
  }

  &.current {
    background-color: #394b59;
  }

  header {
    padding: 0.5vw;
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;

    .day {
      width: 60%;
      align-self: center;
      text-align: left;
    }

    .moon-container {
      width: 40%;
      display: flex;
      flex-direction: column;
      > * {
        flex: 1 1 0;
      }
    }
  }

  main {
    flex: 2 0 0;
    display: flex;
    flex-direction: column;
    > * {
      flex: 1 1 0;
    }
  }
}
