@media screen and (max-width: 400px) {
  .bp3-large {
    min-width: 30px !important;
    min-height: 30px !important;
    padding: 5px 10px !important;
    font-size: 14px !important;
  }
}

.Header {
  flex: 0 0 auto;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;

  .action-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;

    .date-controls {
      display: flex;
      align-items: center;
      > *:not(:first-child) {
        margin-left: 0.5rem;
      }

      @media screen and (min-width: 600px) {
        .current-date {
          font-size: 1.5rem;
          font-weight: 200;
        }
      }

      @media screen and (max-width: 400px) {
        .current-date {
          font-size: 0.7rem;
        }
      }
    }
  }
}
