@media screen and (max-width: 350px) {
  button.bp3-large {
    min-width: 30px !important;
    min-height: 30px !important;
    padding: 5px 10px !important;
    font-size: 14px !important;
  }
}

@media screen and (max-width: 420px) {
  .location-button-with-text {
    display: none !important;
  }
}
@media screen and (min-width: 420px) {
  .location-button-without-text {
    display: none !important;
  }
}

.Header {
  flex: 0 0 auto;
  color: white;
  text-align: center;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;

  .left-side {
    > *:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  button {
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
