.Info {
  padding: 0.5rem;
  font-size: 0.8rem;

  @media screen and (max-width: 420px) {
    font-size: 0.7rem;
  }
  @media screen and (max-width: 400px) {
    font-size: 0.6rem;
  }
  @media screen and (max-width: 340px) {
    font-size: 0.55rem;
  }

  table {
    td {
      padding: 0.2rem;
    }

    .dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid white;

      &.night {
        background-color: #01579b;
      }

      &.astroNight {
        border: 0;
      }

      &.moonNight {
        background-color: grey;
      }

      &.moonlessNight {
        background-color: black;
      }
    }
  }
}
